
$base: #E8DED1;
$olive: #919478;
$pink: #B7796F;
$dark-grey: #212427;

/* Normalize */
@import "vendor/normalize";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
  background: #f6f3ee;
  font-family: 'Open Sans', sans-serif, helvetica;
  scroll-behavior: smooth;
  font-size: 2vw;
  color: $dark-grey;
}

main {
  text-align: center;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling för mobil */
@media screen and (min-width: 325px) {
  @import "layout/base";
}

/*styling för tablet*/
@media screen and (min-width: 600px) {
  @import "layout/tablet";
}

/*styling för desktop*/
@media screen and (min-width: 1024px) {
  @import "layout/desktop";
}