/* Normalize */
@import "vendor/normalize";

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: rgba(248, 242, 235, 1.0);
  font-family: 'Open Sans', sans-serif;
}

main {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0px;
  outline: 3px solid lightgreen;
  text-align: center;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling för mobil */
@media screen and (min-width: 325px) {
  @import "layout/base";
}

/*styling för tablet*/
@media screen and (min-width: 768px) {
  @import "layout/tablet";
}

/*styling för desktop*/
@media screen and (min-width: 1024px) {
  @import "layout/desktop";
}