
/*-------- Responsiv navigeringsmeny start--------------
 Gjord med hjälp av video av Kevin Powell  ---------*/
 
 .nav-header {
    background-color: $base;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100vw;
 }

 .nav-toggle {
    display: none;
 }

 .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
 }

 .nav-toggle-label span,
 .nav-toggle-label span::before,
 .nav-toggle-label span::after {
    display: block;
    background: #3b342b;
    height: 4px;
    width: 3rem;
    border-radius: 3px;
    position: relative;
 }

 .nav-toggle-label span::before,
 .nav-toggle-label span::after {
    content: "";
    position: absolute;
 }

 .nav-toggle-label span::before {
    bottom: 8px;
 }

 .nav-toggle-label span::after {
    top: 8px;
 }

 nav {
    position: absolute;
    text-align: left;
    font-size: 2rem;
    top: 100%;
    left: 0;
    background: $base;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;   
 }

 nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
 }

 nav li {
    margin-bottom: 1em;
    margin-left: 1em;
 }

 nav a {
    color: #3b342b;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
 }

 nav a:hover {
    color: $pink;
 }

 .nav-toggle:checked ~ nav {
    transform: scale(1,1) ;
 }
 
 .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
 }


/* -----Navigeringsmeny slut------------ */

/* Behållare för första delen */
.section-hello {
    position: relative;
    min-height: 80vh;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 80px;
}



.profile-picture {
    position: relative;
    border: 3px solid black;
    max-width: 50vw;
    height: auto;
    margin-left: 25vw;
    top: 40px;
    border-radius: 80px 80px 0 0;
    box-shadow: 10px 20px black;
   
}
.profession {
    margin: 10px 60px 20px 60px;
}
h1 {
    margin: 60px 50px 0 50px;
    font-size: clamp(2rem, 10vw, 6rem);
}

p {
    font-size: clamp(1rem, 2.5vw, 2rem);
}


/* Styling för alla h2 */
h2 {
    margin: 60px 60px 20px 60px;
    color: #3b342b;
    font-size: clamp(2.5rem, 5vw, 5rem);
}

h3 {
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin-bottom: 30px;
}

hr {
    width: 30vw;
    margin: 0 auto;
}
/* Bilden på lövet som börjar synas i tablet-läge */
.picture-container{
    min-height: 50vh;
    background-color: $pink;
}

/* boxen med Hi I am */
.box {
    min-height: 40vh;
    background-color: $olive;
    color: #3b342b;
   
}

.break-one {
    display: none;
}

/* Wrapper som omsluter headern, bilden och texten om mig */
.blue {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: auto;
    max-width: 100%;

}

/* Omsluter bilden på mig och texten */
.container-two {
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;  
}

/* Innehåller bilden på mig */
.green {
    background-color: $base;
    min-height: 50vh;
    padding: 30px;
    border-radius: 10%;
}

/* Innehåller texten om mig */
.black {
    background-image: url("/Images/dahliablommor480.jpg");
    background-position: center;
    background-size: cover;
    background-color: $pink;
    min-height: 50vh;
    border-radius: 10%;
    margin-top: 20px;
   
}

/* Omsluter allt i skills */
.brown {
    background-color: $base;
    min-height: 30vh;
    width: 100%;
}

.brown p {
    margin: 50px 0;
}

/* ikonerna i skills */
.container-icons {
    display: flex;
    justify-content: space-around;
    
}

.brown h3 {
    margin-top: 60px;
}


.fa-brands {
    color: #3b342b;
    font-size: 3rem;
}

/* omsluter delen projekt */
.purple {
    width: 100%;
   
}

/* gridlayouten i projektdelen */
.grid-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    grid-auto-flow: row;
    justify-content: space-around;
    margin-top: 30px;
}

.box-one {
    grid-area: 1 / 1 / 2 / 2;
}

.box-two {
    grid-area: 1 / 2 / 2 / 3;
    background-color: $olive;
}

.box-three {
    grid-area: 2 / 1 / 3/ 2;
    background-color: $pink;
}


.box-four {
    grid-area: 2 / 2 / 3 / 3;
    background-color: $pink;
}

.box-five {
    grid-area: 3/ 1 / 4 / 2;
    background-color: $base;
}

.box-six {
    grid-area: 3 / 2 / 4 / 3;
    background-color: $olive;
}

/* Bildlänken till mitt repo i github */
.project-one {
    width: 100%;
    height:100%;
}

/* Omsluter formuläret */
.lightblue {
    position: relative;
    min-height: 30vh;
    width: 100vw;
}

/* Styling för type="text", select elements och textareas i formuläret */
input[type=text], input[type=email],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid $dark-grey;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Styling för knappen send */
.btn {
    position: relative;
    background-color: #3b342b;
    color: #f5f3eb;
    padding: 20px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

/* styling för när man för musen över knappen send */
.btn:hover {
    background-color: $base;
    color: #3b342b;
}

/* Behållare för formuläret*/
.form-container {
    width: 90%;
    margin: 80px auto 90px auto;
    text-align: left;
    color: #3b342b;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px
}

.form-container p {
    font-family: tangerine;
    margin-bottom: 30px;
    text-align: center;
}



.socialmedia-container {
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px 15px; 
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    margin-bottom: 60px;
  }
  .stalk-me { grid-area: 1 / 1 / 2 / 4; }
  .linkedin { grid-area: 2 / 1 / 3 / 2; }
  .github { grid-area: 2 / 2 / 3 / 3; }
  .instagram { grid-area: 2 / 3 / 3 / 4; }


/* Subject delen i formuläret */
#subject {
    height: 100px;
}

/* Styling för footern längst ner */
footer {
    background-color: $base;
    min-height: 10vh;
    width: 100%;
    padding-top: 20px;
}

/* styling för hjärtat i footern */
.fa-solid {
    color: #3b342b;
    
}
