
/* Tar bort hamburgermenyn */
.nav-toggle-label {
    display: none;
}

.nav-header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;

}

.logo {
    grid-column: 2 / 3;
}

nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;

}

nav li {
    margin-left: 2em;
    margin-bottom: 0;
}

nav a {
    opacity: 1;
    position: relative;
    font-size: 1.3rem;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #4f463a;
    border-radius: 5px;
    position: absolute;
    bottom: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a:hover::before {
    transform: scale(1, 1);
}

/*Navigeringsmeny slut */

h1 {
    margin: 150px 50px 0 50px;
}

h2 {
    margin: 60px 60px 20px 10px;
}


.section-hello {
    flex-direction: row;
    align-content: space-around;
}

/* boxen med Hi I am */

.box {
    width: 60%;
    min-height: 100vh;
}


.get-to-know-me,
.flower-container {
    min-height: 65vh;
}

.picture-container {
    position: relative;
    width: 40%;
    min-height: 100vh;
    
}

.picture-container img {
    position: relative;
    top: -120px;
    right: 100px;
}




.form-container {
    width: 40%;
    margin-left: 50px;
    margin-top: 100px;
}



.fa-brands {
    font-size: 6rem;
}

.project-one {
    max-height: 500px;
}