/* Tar bort hamburgermenyn */
.nav-toggle-label {
    display:none;
}

.nav-header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;

}

.logo {
    grid-column: 2 / 3;
}

nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    
}

nav li {
    margin-left: 2em;
    margin-bottom: 0;
}

nav a {
    opacity: 1;
    position: relative;
    font-size: 1.3rem;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #4f463a;
    border-radius: 5px;
    position: absolute;
    bottom: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a:hover::before {
    transform: scale(1,1);
}
/*Navigeringsmeny slut */


.pink {
    min-height: 100vh;
}


.box {
    padding: 0 20px;
    font-size: 2rem;
    width: 70vw;
    height: 50%;
    left: 30px;
    top: 180px;
    transform: translateY(20%)
}

.word span {
    bottom: 93px;
    left: 205px;
}


.form-container {
    width: 40%;
    margin-left: 50px;
    margin-top: 100px;
}

.leaf {
    left: 850px;
    top: 250px;
}

.fa-brands {
    font-size: 6rem;
}

.project-one {
    max-height: 500px;
}