
/* -------Omsluter bilden på mig och texten---------------- */
.container-two {
    flex-direction: row;
}
/* ----------------------Texten front delveloper...----------------- */

.profession {
    margin: 30px 60px 20px 200px;
}

/* ----------------------boxen med profilbilden----------------- */

.picture-container {
    width: 100%;
}
/* ----------------------styling för att positioner h1----------------- */

h1 {
    margin: 100px 50px 0 180px;
}

/* ----------------------boxarna med info om mig och erfarenhet----------------- */

.get-to-know-me,
.experience-container {
    min-height: 50vh;
    width: 50%;
    margin: 10px;
}

/* -----------Bildlänken till mitt repo i github -----------------*/

.project-one {
    max-height: 400px;
}


/* ----------Projekt-boxarna ändrar layouten------------- */
.grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 50vh;
}

.box-one {
    grid-area: 1 / 1 / 2 / 2;

}

.box-two {
    grid-area: 1 / 2 / 2 / 3;

}

.box-three {
    grid-area: 1 / 3 / 2/ 4;
}


.box-four {
    grid-area: 2 / 1 / 3 / 2;

}

.box-five {
    grid-area: 2/ 2/ 3 / 3;

}

.box-six {
    grid-area: 2 / 3 / 3 / 4;

}

/* ---------projektboxarna slut --------------*/

/* ----------Kontaktformuläret------------ */
.form-container {
    width: 70%;
}

/* ----------------------Omlsuter ikonerna för sociala-medier ----------------- */

.socialmedia-container {
    width: 50%;

}

/* ----------------------texten Lets connect vid sociala-medier ----------------- */
.socialmedia-container h3 {
    position: relative;
    margin: 0;
    top: 50px;
}

/* ----------------------ikonerna som länkar till sociala medier ----------------- */
.fa-instagram,
.fa-linkedin,
.github-logo {
    position: relative;
    bottom: 150px;
    transition: all .2s ease-in-out;
}

/* ----------------------för att göra ikonerna större när man för musen över ----------------- */
.fa-instagram:hover:hover,
.github-logo:hover,
.fa-linkedin:hover {
    transform: scale(1.8);
}

/* ----------------------omsluter formuläret och sociala medier ----------------- */

.contact-container {
    display: flex;
}