/*Navigeringsmeny start */

/* Tar bort hamburgermenyn */
.nav-toggle-label {
    display:none;
}

.nav-header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;

}

.logo {
    grid-column: 2 / 3;
}

nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    
}

nav li {
    margin-left: 2em;
    margin-bottom: 0;
}

nav a {
    opacity: 1;
    position: relative;
    font-size: 1.3rem;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #4f463a;
    border-radius: 5px;
    position: absolute;
    bottom: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a:hover::before {
    transform: scale(1,1);
}
/*Navigeringsmeny slut */

h2 {
    font-size: 3rem;
    margin: 40px;
}

.pink {
    min-height: 80vh;
}

.container-two {
    flex-direction: row;
}

.green {
    width: 50vw;
}

.black {
    width: 50vw;

}

.box {
    padding: 0 20px;
    font-size: 1.2rem;
    min-width: 70vw;
}

.project-one {
    max-height: 400px;
}


/* Projekt-boxarna */
.grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 50vh;
}

.box-one {
    grid-area: 1 / 1 / 2 / 2;

}

.box-two {
    grid-area: 1 / 2 / 2 / 3;

}

.box-three {
    grid-area: 1 / 3 / 2/ 4;
}


.box-four {
    grid-area: 2 / 1 / 3 / 2;

}

.box-five {
    grid-area: 2/ 2/ 3 / 3;

}

.box-six {
    grid-area: 2 / 3 / 3 / 4;

}

/* Kontaktformuläret */
.form-container {
    width: 70%;
}

/* Bilden på löver */
.leaf {
    visibility: visible;
    opacity: 0.6;
    position: relative;
    max-width: 500px;
    max-height: 800px;
    top: 200px;
    left: 450px;
    z-index: -3;
    transform: rotate(20deg);  
}

.word span {
    bottom: 55px;
    left: 130px;
}

.lightblue {
    padding-bottom: 40px;
}
